{{define "title"}}Home page{{end}}

{{define "stylesheets"}}
	<link rel="stylesheet" href="/static/stylesheets/application.css">
	<link rel="stylesheet" href="/static/stylesheets/home.css">
{{end}}

{{define "javascripts"}}
	<script type="text/javascript" src="/static/javascripts/jquery.js"></script>
{{end}}

{{define "bodyClass"}}services{{end}}
{{define "body"}}

	<nav class="navbar navbar-fixed-top navbar-inverse navbar-sap">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" data-target="#main-nav-collapse" data-toggle="collapse" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><div class="logo"></div>
        Monsoon Arc Update Server				
        </a>
      </div>
    </div>
  </nav>

	<div class="jumbotron">
    <div class="container">
      <h1>Monsoon Arc Update Server</h1>
      <p>
      	 Arc Update server enables Arc to manage the distribution of updates and hotfixes released.
      </p>        
    </div>
  </div>

	<div class="container">
			<div class="content">
				<h1>Releases</h1>
				
				<table class="table table-striped release-table">
					<thead>
						<tr>
							<th>#</th>
							<th>Filename</th>
						</tr>
					</thead>
					<tbody>
						{{range $index, $value := .Files}}
						{{$build := index $.BuildInfos $value}}						
						<tr id="{{$build.Uid}}-link" class="{{if ne $build.Uid ""}}js-buildInfo{{end}}">
							<td>{{$index}}</td>
							<td>{{$value}}															
								{{if ne $build.Uid ""}}
									<span class="caret"></span>
									<div id="{{$build.Uid}}-info" class="build-info hidden">
										<ul>
											<li><b>Id: </b>{{$build.Uid}}</li>
											<li><b>Filename: </b>{{$build.Filename}}</li>
											<li><b>App: </b>{{$build.App}}</li>
											<li><b>Os: </b>{{$build.Os}}</li>
											<li><b>Arch: </b>{{$build.Arch}}</li>
											<li><b>Version: </b>{{$build.Version}}</li>
											<li><b>Date: </b>{{$build.Date}}</li>
										</ul>
									</div>
								{{end}}
							</td>
						</tr>
						{{end}}
					</tbody>
				</table>
				
			</div>
		</div>
	</div>

	<script>
		$(".js-buildInfo").click(function(event) {
			event.stopPropagation();
			event.preventDefault();
			var eventid = event.target.parentElement.id;
			var targetid = eventid.substr(0, eventid.indexOf('-'));
			var target = "#"+targetid + "-info";			
			if ($(target).hasClass("hidden")) {
				$(target).removeClass("hidden");
			} else {
				$(target).addClass("hidden");		
			}
	 	 return;
		});
	</script>

{{end}}