{{define "layout"}}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{.AppName}} - {{.AppVersion}} - {{ template "title" }}</title>
	{{ template "stylesheets" }}
	{{ template "javascripts" }}
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
</head>
<body class="{{ template "bodyClass" }}">	
  {{ template "body" . }}	
</body>
</html>
{{end}}

{{ define "stylesheets" }}{{ end }}
{{ define "javascripts" }}{{ end }}