//
// Home
// --------------------------------------------------
body.page-home{
	background-color: #f8f8f8;
}

#features{
	@include anti-alias();
	padding: 90px 0 0 0;

	.double-row{
		padding: 0 0 50px 0;
	}

	h2{
		font-size: 24px;
		letter-spacing: 2px;
		color: $gray;
		font-family: $font-family-museo;
		font-weight: $font-weight-museo-xb;
	}
	p{
		font-size: 16px;
		letter-spacing: 1px;
        line-height: 1.5em;
		color: $gray;
		font-family: $font-family-museo;
		font-weight: $font-weight-museo-sb;
	}

	.icn{
		display: block;
		width: 186px;
		height: 272px;
		margin: 0 auto;
		background-position: center 0;
		background-repeat: no-repeat;
	}

	.auto-update{
		background-image: image-url('feature-auto-update@2x.png');
		background-size: 181px 181px;
	}
	.authentication{
		background-image: image-url('feature-authentication@2x.png');
		background-size: 181px 181px;
	}
	.execute{
		background-image: image-url('feature-execute@2x.png');
		background-size: 181px 181px;
	}
	.supervision{
		background-image: image-url('feature-supervision@2x.png');
		background-size: 181px 181px;
	}
}

#trusted{
	background-color: $black;
	padding: 140px 0;

	h3{
		margin-bottom: 60px;
		color: $white;
		text-transform: uppercase;
		font-size: 18px;
		text-align: center;
	}

	.trusted-items{
		width: 800px;
		margin: 0 auto;

		ul {
			padding: 0;
			> li{
				display: inline-block;
				float: left;
				width: 25%;
				height: 80px;
				margin: 12px 0;
				background: image-url('trusted-sprite.png') 0 0 no-repeat;

				&#i0{
					background-position: 0 0;
				}
				&#i1{
					background-position: 0 -80px;
				}
				&#i2{
					background-position: 0 -160px;
				}
				&#i3{
					background-position: 0 -240px;
				}
				&#i4{
					background-position: 0 -320px;
				}
				&#i5{
					background-position: 0 -400px;
				}
				&#i6{
					background-position: 0 -480px;
				}
				&#i7{
					background-position: 0 -560px;
				}
				&#i8{
					background-position: 0 -640px;
				}
				&#i9{
					background-position: 0 -720px;
				}
				&#i10{
					background-position: 0 -800px;
				}
				&#i11{
					background-position: 0 -880px;
				}
			}
		}
	}
}


@media (max-width: 992px) {
	#features{
		.double-row{
			padding: 0 0 0 0;
			.row{
				padding-bottom: 90px;
			}
		}

		.icn{
			height: 200px;
		}
	}
}

@media (max-width: 480px) {
	#features{
		text-align: center;
	}
}


