//
// Jumbotron
// --------------------------------------------------


#jumbotron {
  position: relative;
  background: linear-gradient(#2b3f7b, #008fcc);
  background-color:  $gray-light;
  color: $white;
  overflow: hidden;
  min-height: 320px;

  &.mobile-hero{
    background:  transparent image-url("node-hero-pattern.jpg") center center;
    background-size: 320px 320px;
    background: -webkit-image-set(image-url("node-hero-pattern.jpg") 1x, image-url("node-hero-pattern@2x.jpg") 2x);
  }

  .container{
    position: relative;
    height: 100%;

    .jumbo-hero {
      padding: 48px 0;
    }

    .jumbo-graph{
      position: absolute;
      right: -10px;
      width: 620px;
      height: 320px;
      z-index: 20;
    }

    .col-lg-5{
      z-index: 20;
      pointer-events: none;
    }

    h2{
      //margin-top: 140px;
      font-size: 28px;
      line-height: 38px;
      letter-spacing: 2px;
    }
  }
}

@media (max-width: 992px) {
  #jumbotron .container {
    h2{
      text-align: center;
      margin-left: 0;
    }
  }
}
