---
page_title: "Community"
description: |-
  Consul is a new project with a growing community. Despite this, there are active, dedicated users willing to help you through various mediums.
---

<div class="container">
	<div class="col-md-8 col-md-offset-2">
		<div class="bs-docs-section">
			<h1>Community</h1>

			<p>
      ARC is a very new project and we hope for a growing community very fast. If you wish to help us do it through flowing mediums:
			</p>
			<p>
			<strong>Bug Tracker:</strong>
			<a href="https://gitHub.***REMOVED***/monsoon/arc/issues">Issue tracker
				on GitHub</a>. Please only use this for reporting bugs. Do not ask
			for general help here.
      </p>

			<h1>People</h1>
			<p>
			The following people are some of the faces behind Consul. They each
			contribute to Consul in some core way. Over time, faces may appear and
			disappear from this list as contributors come and go.
			</p>
			<div class="people">
				<div class="person">
					<img class="pull-left" src="https://gitHub.***REMOVED***/avatars/u/49?s=125">
					<div class="bio">
						<h3>Fabian Ruff (<a href="https://gitHub.***REMOVED***/userID">@userID</a>)</h3>
						<p>
						Fabian Ruff is the creator of ARC. He researched and developed
						most of the core components based on the MQTT protocol.
					</div>
				</div>

				<div class="clearfix"></div>

				<div class="person">
					<img class="pull-left" src="https://gitHub.***REMOVED***/avatars/u/2849?s=125">
					<div class="bio">
						<h3>Arturo Reuschenbach Puncernau (<a href="https://gitHub.***REMOVED***/userID">@userID</a>)</h3>
						<p>
						Arturo Reuschenbach Puncernau is a creator of ARC. He works on all layers and maintains the different UIs
							used for the Update Server and home page.
						</p>
					</div>
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
