---
description: Service discovery and configuration made easy. Distributed, highly available, and datacenter-aware.
---

<!-- Main jumbotron for a primary marketing message or call to action -->
<div id="jumbotron">
	<div class="container">
		<div class="jumbo-graph hidden-xs hidden-sm"></div>
		<div class="jumbo-hero col-lg-5 col-md-5">
			<h2 class="rls-l">
				ARC is a multi-tenant, secure, self-updating, single binary, TLS driven framework for executing and supervising remote jobs on Linux & Windows operating systems
			</h2>
		</div>
	</div>
</div>

<div id="features">
	<div class="container">
		<div class="row double-row">
			<div class="col-lg-6 col-md-6">
				<div class="row">
					<div class="col-lg-5 col-md-5">
						<span class="icn auto-update"></span>
					</div>
					<div class="col-lg-7 col-md-7">
						<h2>Self Updating</h2>
						<p>
							Single command installation & autoupdates of agents supporting cloud-init and manual device on-boarding into tenants including CoreOS style update channels.
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="row">
					<div class="col-lg-5 col-md-5">
						<span class="icn authentication"></span>
					</div>
					<div class="col-lg-7 col-md-7">
						<h2>Authentication</h2>
						<p>
							Build in certificate authority and certificate distribution & revocation to clients.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row double-row">
			<div class="col-lg-6 col-md-6">
				<div class="row">
					<div class="col-lg-5 col-md-5">
						<span class="icn execute"></span>
					</div>
					<div class="col-lg-7 col-md-7">
						<h2>Plugins, Scripts and Jobs</h2>
						<p>
							Plugins for chef & script bootstrap and execution of jobs with openness for other provisioners.
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="row">
					<div class="col-lg-5 col-md-5">
						<span class="icn supervision"></span>
					</div>
					<div class="col-lg-7 col-md-7">
						<h2>Inventory and Supervision</h2>
						<p>
							Ohai style inventory collection and heartbeat based supervision of client status.
						</p>
					</div>
				</div>
			</div>
		</div>

	</div> <!-- /container -->
</div> <!-- /features -->