<div id="footer">
	<div class="container">
		<div class="footer-hashi os">
			<span>Copyright &copy; <%= Time.now.year %></span>
		</div>
	</div>
</div>


<%= javascript_include_tag 'application' %>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <%= javascript_include_tag "ie-compat" %>
<![endif]-->

</body>
</html>
