{{define "layout"}}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{template "title"}}</title>
	<link rel="stylesheet" href="/static/stylesheets/main.css">
	<script type="text/javascript" src="/static/javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="/static/javascripts/console.js"></script>
</head>
<body>
  {{template "body"}}
	<script> 
		buildFiles = [{{range .Files}}{{.}},{{end}}];
		
		for (i = 0; i < buildFiles.length; i++) { 
		    Typer.text += buildFiles[i] + "<br>";
		}
		
		Typer.speed=3;
		Typer.init();
 
		var timer = setInterval("t();", 30);
		function t() {
			Typer.addText({"keyCode": 123748});
			if (Typer.index > Typer.text.length) {
				clearInterval(timer);
			}
		}
	</script>
</body>
</html>
{{end}}